{% extends '../base/base.html' %}

{% block body_wrapper %}
<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="section-title">
                         <h3>关于我们</h3>
                         <h2>我们一直致力于科技创新，争分夺秒，对未来志在必得 </h2>
                    </div>

                    <div class="col-md-8 col-sm-12">
                         <img src="{{static_url('images/about-image.jpg')}}" class="img-responsive" alt="About">
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <h1>秒针空间</h1>
                         <p>致力于创客产品研发，创客实验室助力搭建</p>
                         <p>专业设计，为客户提供优质的服务</p>
                    </div>

                    <div class="clearfix"></div>

                     <hr>
                    <div style="text-align: center">
                         <p>因为专注，所以更加专业</p>
                         <p>因为专业，所以更中诚信</p>
                    </div>
                     <hr>

                    <div class="col-md-4 col-sm-6">
                         <h3>创客资源</h3>
                         <ul>
                              <li>Arduino</li>
                              <li>MicroBit</li>
                              <li>Robots</li>
                              <li>扩展板</li>
                         </ul>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <h3>服务范围</h3>
                         <ul>
                              <li>专业大赛机器人方案</li>
                              <li>3D打印机</li>
                              <li>创客教育硬件方案</li>
                              <li>传感器模块方案</li>
                         </ul>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <h3>外拓服务</h3>
                         <ul>
                              <li>小型无人机</li>
                              <li>植保无人机</li>
                              <li>航模拓展</li>
                         </ul>
                    </div>
               </div>

          </div>
     </div>
</section>
{% end %}