{% extends '../admin_base/base.html' %}
{% block title %} <title>添加文档</title>{% end %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="/admin/add_article" method="post" id="article-form" class="add-article-form">
          <div class="col-md-9">
            <h1 class="page-header">撰写新文章</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
            </div>
            <div class="form-group">
              <label for="article-content" class="sr-only">内容</label>
              <div id="article-content">

              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>关键字</span></h2>
              <div class="add-article-box-content">
              	<input type="text" class="form-control" id="article-keywords" placeholder="请输入关键字" name="keywords" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="describe" id="article-desc" autocomplete="off"></textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标签</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="输入新标签" id="article-tag" name="tags" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-content">
              	<p><label>状态：</label><span class="article-status-display">未发布</span></p>
                <p><label>发布于：</label><span class="article-time-display"><input style="border: none;" type="datetime" name="time" value="None" /></span></p>
              </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="button" id="submit-btn" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% end %}
{% block end %}
<script src="{{static_url('admin/lib/wangEdit/wangEditor.js')}}"> </script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#article-content');
    window.editor = editor;
    // var editor = new E(document.getElementById('#article-content'));
    window.editor.customConfig.lang = {
        '设置标题': 'title',
        '正文': 'p',
        '链接文字': 'link text',
        '链接': 'link',
        '上传图片': 'upload image',
        '上传': 'upload',
        '创建': 'init'
    };
    window.editor.customConfig.pasteFilterStyle = false;
    editor.customConfig.pasteTextHandle = function (content) {
        return content + '<p>来自秒针智能</p>'
    };
    window.editor.customConfig.uploadImgServer = '/upload';
    window.editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0;
    window.editor.customConfig.uploadImgMaxLength = 5;
    window.editor.create();

    window.editor.customConfig.uploadImgHooks = {
        fail: function (xhr, editor, result) {
            if(result.errno != 0){
                alert(result.msg)
            }
        },

    };

    //数据提交
    var submit_btn = $('#submit-btn');
    //获取cookie
    function get_cookie(name) {
        var xsrf_cookies = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return xsrf_cookies[1]
    }
    submit_btn.click(function () {
        var title = $('#article-title').val();
        var keywords = $('#article-keywords').val();
        var tags = $('#article-tag').val();
        var desc = $('#article-desc').val();
        var content = window.editor.txt.html();
        $.ajax({
                'url':'/admin/add_article',
                'type': 'post',
                'data':{
                    'title':title,
                    'keywords':keywords,
                    'tags':tags,
                    'desc':desc,
                    'content':content,
                },
                'headers': {
                    "X-XSRFTOKEN":get_cookie("_xsrf")
                },
                cache: false,
                'success': function (data) {
                if (data['status'] == 200){
                   window.location="/admin/article";
                }else{
                    console.log(data['msg']);
                }
            }

        })
    });
</script>

{% end %}