{% extends './base/base.html' %}

{% block body_wrapper %}
<section id="home">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h2>开源 & 创新.我们一直致力于科技创新，争分夺秒，对未来志在必得 </h2>
                    <hr>
               </div>

          </div>
     </div>
</section>
<section id="portfolio">
     <div class="container">
          <div class="row">
              {% for pro in project %}
               <div class="col-md-4 col-sm-6">
                    <a href="/single-project?id={{pro.id}}">
                         <div class="portfolio-thumb">
                              <img src="{{pro.article_pic_name}}" class="img-responsive" alt="portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>{{pro.title}}</h3>
                                             <small>{{pro.desc}}</small>
                                        </div>
                                   </div>
                         </div>
                    </a>

               </div>
               {% end %}

               <div class="col-md-12 col-sm-12 text-center">
                    <h3>如果你有不错的作品或创新想法，快来和我们交流一下吧！<a href="/contact">(点我上车)</a></h3>
               </div>

          </div>
     </div>
</section>

{% end %}