{% extends '../base/base.html' %}

{% block body_wrapper %}

<section id="single-project">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h1>{{project.title}}</h1>
                    <p>{{project.desc}}</p>
                    <div class="col-md-12 col-sm-12 text-center">
                         <p>{% raw project.content %}</p>
                         <strong>Ealine Project Manage</strong>
                    </div>
                    <div class="clearfix">

                    </div>
                    <div style="text-align: center">
                         <h3>Date</h3>
                         <p>{{project.createtime}}</p>
                    </div>

               </div>

          </div>
          </div>
     </div>
</section>

{% end %}